@charset "UTF-8";
/*========== RESET ==========*/
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: none;
	outline: none;
	font-weight: 300;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body{
	background-color: #CED1CC;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
}

h6 {
	
	font-size: 1.4em;
	text-align: center;
	color: gray;
	padding-left: 4%;
	padding-right: 4%;
}

h5 {
	padding-left: 4%;
	padding-right: 4%;
	font-size: 1.2em;
	text-align: center;
	color: gray;
	font-style: italic;
}

/* CABEÇALHO */
.logo{
	width: 56px;
	height: 56px;
	float: left;
	font-size: 0;
}

.btn-menu{
	width: 56px;
	height: 56px;
	float: right;
	text-align: center;
	color: #fff;
	cursor: pointer; 
	background-color: rgba(255,193,7, .8);
}

/* MENU */
.btn-close{
	font-size: 1.5em;
	color: #fff;
	float: right;
	cursor: pointer;
	margin: 2% 3% 0 0; 
}

.menu{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,.9);
	top: 0;
	left: 0;
}

.menu ul {
	width: 100%;
	float: left;
	text-align: center;
}

.menu li{
	padding: 1.5%;
}

.menu li a{
	font-size: 2em;
	color: #fff;
	padding: 1.5% 3%;
}

.menu li a:hover{
	border: 1px solid #FFC107;
}

/* BANNER */
.banner{
	width: 100%;
	height: 310px;
	float: left;
	text-align: center;
	padding: 3% 4%;
	background: url(../img/principal2.jpg) no-repeat fixed;
	background-size: cover; 
	background-attachment:  fixed;
	background-position: center;
}

.title{
	width: 100%;
}

.title h2{
	margin-top: 20%;
	font-size: 1.5em;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 0 1em #4c4c4c;
}

.title h3{
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 0.4em;
	color: #fff;
	text-shadow: 0 0 1em #4c4c4c;
}

.button{
	width: 95%;
	margin-top: 2%;
	margin: 0 auto;
}

.button i{
	float: right;
}

.btn {
	font-size: 1.2em;
	font-weight: 700;
	cursor: pointer;
	padding: 5%;
	border-radius: 10px;
	background-color: #76FF03;
}

.btn-saiba{
	width: 100%;
	text-align: center;
	color: white;
	margin-top: 2%;
	margin-bottom: 5%;
}


/*Início da Formatação do Questionário*/
	.questionario {
		background-color: #eeeeee;
	}
	
	.questionario .question-flutuante {
		font-family: 'MinhaFonte2';
		font-size: 18pt;
		text-align: center;
		padding-top: 30px;
		color: #00C853;
		background-color: white;
		width: 100%;
		height: 80px;
		margin-top: -10px;
	}

	.questoes {
		font-family: 'MinhaFonte2';
		font-size: 16pt;
		color: #004d40;
		text-align: center;
	}

	.questoes .profissao {
		min-height:auto;
		font-family: 'Titillium Web', sans-serif;
		width: 600px;
		height: 40px;
		font-family: 'Titillium Web', sans-serif;
		font-size: 15pt;
		font-style: italic;
		background-color: #f5f5f5;
		border: none;
		border-bottom: solid gray 1px;
		outline:none;
	}

	.questoes .profissao:hover {
		background-color: white;
		font-family: 'Titillium Web', sans-serif;
		font-size: 15pt;
	}

	.questoes .mensagem {
		font-family: 'Titillium Web', sans-serif;
		font-size: 15pt;
		font-style: italic;
		background-color: #f5f5f5;
		width: 600px;
		height: 70px;
		border: none;
		border-bottom: solid gray 1px;
		outline:none;
		
	}

	.questoes .mensagem:hover {
		background-color: white;
		font-family: 'Titillium Web', sans-serif;
		font-size: 15pt;
	}

	.botao {
		width: 110px;
		height: 45px;
		background-color: white;
		color: #004d40;
		font-family: 'Titillium Web', sans-serif;
		font-weight: bold;
		font-size: 16pt;
		margin-top: 20px;
		margin-bottom: 20px;
		color: green;
        border-radius: 4px;
        
	}

	.botao:hover {
		background-color: #004d40;;
		color: white;
	}
/*Final da Formatação do Questionário*/

/* RODAPÉ */
.rodape{
	width: 100%;
	float: left;
	padding: 3% 4%;
	text-align: center;
	background: linear-gradient(to right, black, #181817);
}

.social-icons a{
	font-size: 1.5em;
	color: rgba(255,255,255,0.7);
	margin-right: 3%;
}

.social-icons a:last-child{
	margin-right: 0;
}

.social-icons a:hover{
	color: rgb(255,255,255);
}

.copyright{
	margin-top: 2%;
	color: rgba(255,255,255,0.7);
}


/*========== MOBILE FIRST ==========*/
/*SMALL DEVICES - SMARTPHONES*/
@media screen and (min-width: 480px){
	.btn-saiba{
		font-size: 2em;
	}

	.servico {
		height: 220px;
	}

	.title h2{
		margin-top: 15%;
		font-size: 2.3em;
		text-align: left;
	}

	.title h3{
		margin-top: 2%;
		font-size: 1em;
		text-align: left;
	}


	.servico{
		width: 100%;
		height: 300px;
		background-color: white;
		box-shadow: 2px 2px 2px 2px #8B8989;
		-webkit-box-shadow: 2px 2px 2px 2px #CDC9C9;
		-moz-box-shadow: 2px 2px 2px 2px #CDC9C9;
		text-align: center;
		border-radius: 7px;
		margin-top: 2%;
	}

	.inner h2{
		padding: 5%;
		font-weight: bolder;
		font-size: 1.3em;
		text-align: center;
		color: gray;
		font-style: italic;
	}

	.inner h3{
		padding-top: 5%;
		font-size: 1em;
		font-weight: 700;
		text-align: left;
	}
}

/*SMALL DEVICES - TABLETS*/
@media screen and (min-width: 768px){
	.button{
		width: 10%;
		margin-top: 2%;
		float: right;
		font-size: 0.8em;
	}

	.button i{
		float: right;
		
	}

	.servico {
		width: 100%;
		height: 220px;
		display: inline-block;
		margin-right: 2%;
	}

	.servicos{
		background-color: white;
		width: 100%;
		height: 80%;
		float: left;
		padding: 3% 3%;
		text-align: center;
	}


	.servicos:nth-child(2){
		margin-right: 0;
	}

	.title h2{
		margin-top: 10%;
		font-size: 2.5em;
	}

	.title h3{
		margin-top: 2%;
		margin-bottom: 5%;
		font-size: 1.2em;
	}

	.inner h3{
		font-size: 1em;
		font-weight: 700;
		text-align: left;
	}

	.inner h2{
		padding: 2%;
		font-weight: bolder;
		font-size: 1.3em;
		text-align: center;
		color: gray;
		font-style: italic;
	}

	.servico{
		width: 100%;
		height: 260px;
		background-color: white;
		margin-top: 2%;
	}
}

/*MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 960px){
	.title{
		margin: 0 auto;		
	}

	.title h2{
		font-size: 3.5em;
	}

	.title h3{
		font-size: 1.5em;
	}

	.buttons{
		width: 30%;
		float: right;
	}

	.servico{
		width: 20%;
	}

	.servicos:nth-child(2){
		margin-right: 2%;
	}

	.servicos:nth-child(3){
		margin-right: 0;
	}

	.btn-menu{
		display: none;
	}

	.btn-close{
		display: none;
	}

	.menu{
		width: auto;
		height: 56px;
		line-height: 56px;
		float: right;
		background-color: #f5f5f5;
	}

	.menu ul{
		background-color: black;
		display: inline-block;
	}

	.menu li{
		background-color: rgba(255,255,255,0.05);
		list-style: none;
		font-size: 1.2em;
		padding: 0;
		float: left;
		font-weight: 700;
	}

	.menu li a{
		color: #130400;
		font-size: 1em;
		padding: 15px;
		color: white;
	}

	.menu li a:hover{
		border: none;
		color: #FFC107;
		background-color: rgba(255,255,255,0.08);
	}

	.f-menu{ 
		z-index: 9999; 
		position: fixed; 
		left: 0; 
		top: 0; 
		width: 100%;
		background-color: rgb(0,0,0);
	}

	.inner h3{
		font-size: 1em;
		font-weight: 700;
		text-align: left;
	}

	.inner h2{
		padding: 2%;
		font-weight: bolder;
		font-size: 1.3em;
		text-align: center;
		color: gray;
		font-style: italic;
	}

	.servico{
		width: 100%;
		height: 260px;
		background-color: white;
		margin-top: 2%;
	}

	.logo{
		width: 100px;
		height: 100px;
		float: left;
		background: url(../img/logo-mobile.png) center center/100px no-repeat;
		margin-top: -2%;
		margin-left: -4%;
	}
}

/*LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1024px){
	.servico{
		width: 16%;
		height: 30%;
		text-align: center;
		margin-top: 2%;
	}

	.servicos{
		text-align: center;

	}

	.title h2{
		margin-top: 6%;
		margin-bottom: 1px;
		font-size: 2.8em;
	}

	.title h3{
		margin-top: 1%;
		font-size: 1.5em;
	}

	.f-menu{ 
		z-index: 9999; 
		position: fixed; 
		left: 0; 
		top: 0; 
		width: 100%;
		background-color: rgb(0,0,0);
	}

	.cabecalho{
		width: 100%;
		height: 100px;
		float: left;
		padding: 1% 4%;
	}


	.menu{
		float: right;
		display: inline-block;
		position: static;
	}

	.menu ul{
		display: inline-block;
		opacity: 0.9;
		float: left;
	}

	.menu li{
		background-color: rgba(255,255,255,0.05);
		list-style: none;
		font-size: 1.2em;
		padding: 0;
		float: left;
		font-weight: 700;
		top:0;
	}

	.menu li a{
		color: #130400;
		font-size: 1em;
		padding: 15px;
		color: white;
	}

	.menu li a:hover{
		border: none;
		color: #FFC107;
		background-color: rgba(255,255,255,0.08);
	}

	/* RODAPÉ */
	.rodape{
		width: 100%;
		height: 150px;
		float: left;
		padding: 2% 2%;
		text-align: center;
		background: linear-gradient(to right, black, #181817);
	}

	.inner h3{
		font-size: 1em;
		font-weight: 700;
		text-align: left;
	}

	.inner h2{
		font-weight: bolder;
		font-size: 1.3em;
		text-align: center;
		color: gray;
		font-style: italic;
	}

	.servico{
		width: 100%;
		height: 250px;
		background-color: white;
		box-shadow: 2px 2px 2px 2px #8B8989;
		-webkit-box-shadow: 2px 2px 2px 2px #CDC9C9;
		-moz-box-shadow: 2px 2px 2px 2px #CDC9C9;
		text-align: center;
		border-radius: 7px;
		margin-top: 2%;
	}
}